In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [3]:
a = ["Dhruv" ,[1,2,3,4],3.56,("d","p","s","n")]
b="dhruv"
c=[3,5,6,8,9]
d=3.45
t=("dhruv","pravin","chintan","jay")

In [6]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(t))

for i in a :
    print(type(i))

<class 'list'>
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1

What will be the data type of the above given variable.

In [8]:
var1 =''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

In [9]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [18]:
# (i) --> (/) : it is a division operator

a=10
b=2
c=a/b
print(c)

a = 15
c = a/b
print(c)

5.0
7.5

In [19]:
# (ii) --> (%) : it is a modulo operator 

a = 10
b = 2
c=a%b
print(c)

a = 42
b = 3 
c = a%b
print(c)

0
0

In [22]:
# (iii) --> (//) : it is a floor division

a = 15
b= 2
c=a//b
print(c)

7

In [25]:
# (iv) --> (**): it is a Exponentiation operator

a =5
print(a**2)
print(a**3)

25
125

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [29]:
l = [1,2,3,4,"dhruv",1.03,True,False,[3,45,67],3+2j]

# print(len(l))
for i in l :
    print(i, end=" ")
    print(type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
dhruv <class 'str'>
1.03 <class 'float'>
True <class 'bool'>
False <class 'bool'>
[3, 45, 67] <class 'list'>
(3+2j) <class 'complex'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [39]:
A = 135
B = 3

count = 0
if A%B == 0:
    t  = True
while t :
    if A%B == 0:
        A = A/B
        print(A)
        count = count + 1
    else:
        t = False
print(count)

45.0
15.0
5.0
3

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [41]:
l = []
for i in range(1,26):
    l.append(i)
# print(l)
for i in l :
    if i%3 ==0:
        print("number is divisible by 3 :" +str(i))
    else:
        print("number is not divisible by 3 :",str(i))

number is not divisible by 3 : 1
number is not divisible by 3 : 2
number is divisible by 3 :3
number is not divisible by 3 : 4
number is not divisible by 3 : 5
number is divisible by 3 :6
number is not divisible by 3 : 7
number is not divisible by 3 : 8
number is divisible by 3 :9
number is not divisible by 3 : 10
number is not divisible by 3 : 11
number is divisible by 3 :12
number is not divisible by 3 : 13
number is not divisible by 3 : 14
number is divisible by 3 :15
number is not divisible by 3 : 16
number is not divisible by 3 : 17
number is divisible by 3 :18
number is not divisible by 3 : 19
number is not divisible by 3 : 20
number is divisible by 3 :21
number is not divisible by 3 : 22
number is not divisible by 3 : 23
number is divisible by 3 :24
number is not divisible by 3 : 25

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
mutable : mutable means you can change or update data without re-assingment after creation.
    
immutable : immutable you can not chnage or update data after creation.

In [6]:
# mutable :

l = [1,2,3,4,5,6]
print(l[0])
l[0]=10
print(l[0])
#  so list is mutable thta menas it can be update or chnage after a creation.

1
10

In [11]:
string="dhruv"
string[0]

'd'

In [13]:
string[0]="b"

TypeError: 'str' object does not support item assignment

In [ ]:
#  str is not mutable it can not change or update after creation.